// ==========================
// Nextflow configuration
// ==========================

params {
    // --------------------------
    // Input reads
    // --------------------------
    reads = "./data/*_{R1,R2}.fastq.gz"
    skip_samples = ["p4","p5"]   // skip these prefixes if desired

    // --------------------------
    // Output folders
    // --------------------------
    outdir = "./res"          // main output folder
    humann_out = "./res/humann_out"
    kneaddata_cleaned = "./res/kneaddata_cleaned"

    // --------------------------
    // Threads allocation
    // --------------------------
    threads_qc = 8       // FastQC, fastp
    threads_host = 8    // KneadData
    threads_tax = 64     // Kraken2, Bracken, Krona
    threads_humann = 64  // HUMAnN3 functional profiling

    // --------------------------
    // Databases
    // --------------------------
    kneaddata_db = "/home/priyadarshini/metagenomics_nf/databases/kneaddata_db"                       // KneadData host removal DB
    kneaddata_db_type = "human_genome"

    kraken2_db = "/home/priyadarshini/metagenomics_nf/databases/kraken2"           // Kraken2 database path
    kraken2_db_url = "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_20250714.tar.gz"

    bracken_kmer = 35
    bracken_read_len = 150

    // --------------------------
    // HUMAnN3
    // --------------------------
    humann_chocophlan_db = "/home/priyadarshini/metagenomics_nf/databases/chocophlan/chocophlan/"
    humann_uniref_db = "/home/priyadarshini/metagenomics_nf/databases/uniref/uniref/"
    humann_uniref_type = "uniref90"
    metaphlan_db = "/home/priyadarshini/metagenomics_nf/databases/metaphlan_db/mpa_v30/"
}

// --------------------------
// Default resources for all processes
// --------------------------
process {
    memory = '64 GB'
    executor = 'local'
}

