
// ==========================
// Default Configuration
// ==========================
process {
    executor = 'local'
    memory = '64GB'
}

// --------------------------
// Parameters
// --------------------------
params {
    kneaddata_db = "/databases/kneaddata_db"
    kneaddata_db_type = "human_genome"

    kraken2_db = "/databases/kraken2"
    kraken2_db_url = "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_20250714.tar.gz"

    bracken_kmer = 35
    bracken_read_len = 150

    humann_chocophlan_db = "/databases/humann/chocophlan"
    humann_uniref_db = "/databases/humann/uniref"
    humann_uniref_type = "uniref90_diamond"

    metaphlan_db = "/databases/metaphlan"
}

// ==========================
// Profiles
// ==========================
profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
        process.container = 'metagenomics-nf:latest'
        process.containerOptions = '-v /home/priyadarshini/metagenomics_nf/databases:/databases'
    }
}

