// ==========================
// Default Configuration
// ==========================
process {
    executor = 'local'
    memory = '64GB'
}


// ==========================
// Nextflow configuration
// ==========================

params {
    // --------------------------
    // Input reads
    // --------------------------
   

    // --------------------------
    // Output folders
    // --------------------------
    outdir = "./results"          // main output folder
    humann_out = "./results/humann_out"
    kneaddata_cleaned = "./results/kneaddata_cleaned"

    // --------------------------
    // Threads allocation
    // --------------------------
    threads_qc = 8       // FastQC, fastp
    threads_host = 8    // KneadData
    threads_tax = 64     // Kraken2, Bracken, Krona
    threads_humann = 64  // HUMAnN3 functional profiling

    // --------------------------
    // Databases
    // --------------------------
    kneaddata_db = "/home/priyadarshini/metagenomics_nf/databases/kneaddata_db"                       // KneadData host removal DB
    kneaddata_db_type = "human_genome"

    kraken2_db = "/home/priyadarshini/metagenomics_nf/databases/kraken2"           // Kraken2 database path
    kraken2_db_url = "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_20250714.tar.gz"

    bracken_kmer = 35
    bracken_read_len = 150

    // --------------------------
    // HUMAnN3
    // --------------------------
    humann_chocophlan_db = "/home/priyadarshini/metagenomics_nf/databases/"
    humann_uniref_db = "/home/priyadarshini/metagenomics_nf/databases/"
    humann_uniref_type =  "uniref90_diamond"
    metaphlan_db = "/home/priyadarshini/metagenomics_nf/databases/metaphlan_db/mpa_v30_CHOCOPhlAn_20190" 
}

// --------------------------
// Profile
// --------------------------

profiles {
    docker {
        process {
            executor = 'local'
            container = 'metagenomics-nf:latest'
            memory = '64GB'
        }
        docker.enabled = true
    }

    conda {
        process {
            executor = 'local'
            memory = '64GB'
        }
        conda.enabled = true
    }
}

